@import "colors/colors.css";

* {
  border: none;
  border-radius: 0;
  font-family:
    "Adwaita Sans", "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial,
    sans-serif;
  font-weight: 600;
  font-size: 16px;
  min-height: 0;
  border-radius: 50px;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @bg1;
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

.modules-left {
  margin-left: 15px;
}

.modules-right {
  margin-right: 15px;
}

#custom-launcher,
#clock,
#workspaces,
#custom-notification,
#custom-media,
#custom-pacman,
#custom-weather,
#pulseaudio,
#backlight,
#battery,
#tray,
#bluetooth,
#idle_inhibitor,
#custom-cpu,
#custom-gpu,
#network,
#power-profiles-daemon {
  background-color: #121212;
  margin-right: 10px;
  padding: 0 10px;
  background-color: @bg1;
  color: @blue;
}

#power-profiles-daemon {
  margin: 0;
}

#workspaces {
  padding: 8px 5px;
  border-radius: 16px;
  background-color: @bg1;
  color: @blue;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 3px;
  min-width: 20px;
  border-radius: 50px;
  color: @bg3;
  transition: all 0.3s ease-in-out;
  background-color: @grey1;
}

#workspaces button.active {
  background-color: @blue;
  color: @bg1;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: @purple;
  color: @bg1;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg1;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}
