* {
  bg0: #192330;
  bg1: #212e3f;
  bg2: #29394f;
  bg3: #39506d;
  bg4: #3c5372;

  text: #cdcecf;

  red: #c94f6d;
  orange: #f4a261;
  yellow: #dbc074;
  green: #8ebaa4;
  aqua: #7ad5d6;
  blue: #719cd6;
  purple: #baa1e2;

  grey0: #71839b;
  grey1: #738091;
  grey2: #aeafb0;
}

