hypr/colors/colors.conf
hypr/colors/matugen.conf
kitty/colors/colors.conf
kitty/colors/matugen.conf
waybar/colors/colors.css
waybar/colors/matugen.css
rofi/colors/colors.rasi
rofi/colors/matugen.rasi
swaync/colors/colors.css
swaync/colors/matugen.css
wlogout/colors/colors.css
wlogout/colors/matugen.css
